<div class="container selection">
  <div class="row justify-content-center">
    <div class="col-7">
        <div class="row">
          <div class="col">
            <img alt="Liberty Mutual Insurance" class="brand" src="/assets/lmi-white.png">
          </div>
        </div>
        
      <div class="row">
        <div class="col">
          <button class="btn btn-primary back" (click)="back();">Back</button>
          <h1>Results</h1>
          <p>Our appetite for the most likely insurance needs of the business you have searched for are listed below. The likelihood
            of selling or renewing insurance with each business is also noted for your convenience.</p>
          <p><strong>Click a business for additional details.</strong></p>
        </div>
      </div>

      <div class="row">
        <div class="col results">
          <div class="container" *ngFor="let business of businesses" (click)="detailsNav(business.businessId);">
              <div class="row">
                <div class="col">
                  <h3>{{business.businessName}}</h3>
                </div>
              </div>

              <div class="row">
                <div class="col probability">{{business.prob}}<span>%</span></div>
                <div class="col">
                  <div class="label">Property</div>
                  <div class="value">{{business.property}}</div>
                </div>

                <div class="col">
                  <div class="label">Liability</div>
                  <div class="value">{{business.liability}}</div>
                </div>

                <div class="col">
                  <div class="label">Auto</div>
                  <div class="value">{{business.auto}}</div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>