<div class="container search">
  <div class="row justify-content-center">
    <div class="col-5">
      <div class="row">
        <div class="col">
          <img alt="Liberty Mutual Insurance" class="brand" src="/assets/lmi-blue.png">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1>Prospector</h1>
        </div>
      </div>
      <br>
      <form #searchForm="ngForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="zipCode">ZIP Code</label>
              <input type="text" class="form-control" id="zipCode" name="zipCode" [(ngModel)]="searchInfo.zipCode" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="businessType">Type of business</label>
              <select class="form-control" id="businessType" name="businessType" [(ngModel)]="searchInfo.businessType">
                <option *ngFor="let type of businessTypes" [value]="type">{{type}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button class="btn btn-primary" (click)="searchAndNav()">Search</button>
          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>
